.panda-price {
    color: #FF136F;
}
.panda-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
/* -------------
    header
-------------- */


.navbar {
    padding: 0;
}

/* -------------
    Main
-------------- */

/* -----Banner area----- */
main .container {
    padding: 0;
}
.carousel-item {
    background-color: #FEEAE9;
}
